PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb+srv://<user>:<password>@cluster0.iwccfc8.mongodb.net/gestion_tics?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=8h

EMAIL_USER=your-mailtrap-user
EMAIL_PASS=your-mailtrap-pass
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_FROM=no-reply@gestiontics.local

ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@gestiontics.local
ADMIN_PASSWORD=change-this-password
ADMIN_DOCUMENT=1000000000